.content {
    display: block;
    padding: 0 2rem 1rem 2rem;
    height: auto;
    opacity: 1;
}

.aboutMe{
    font-weight: 300;
    font-size: 1.25rem;
    text-align: justify;
    padding: 2rem;
    background-color: #3f4077;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {

    .content{
         padding: 0 1rem .5rem 1rem;
    }

    .aboutMe {
        font-size: .75rem;
        padding: 1rem;
    }
}